BOT_TOKEN=6712707741:AAFaFFgW_mXg_7FU_GVJOSehuwL43_u3BRE
ADMINS=7013499262
ip=localhost

# Dokploy uchun qo'shimcha sozlamalar (ixtiyoriy)
# Agar Webhook ishlatmoqchi bo'lsangiz:
# WEBHOOK_HOST=https://bot.sizningdomen.uz
# PORT=8080